body {
  background-color: #6a5acd;
  color: #fff;
  margin: 0;
}
#CreatList {
  border-radius: 1.2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 25rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding: 3rem;
  background-color: #836fff;
}

.ListSubmit p {
  text-align: center;
}

.ListSubmit input {
  font-family: "Karla", sans-serif;
  border-radius: 0.1rem;
  margin-left: 1.5rem;
  width: 16rem;
  height: 1.2rem;
  outline: none;
  border: none;
  padding: 0.1rem;
  background-color: #483d8b;
  color: white;
}

.ListSubmit button {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.1rem;
  outline: none;
  border: none;
  background-color: #483d8b;
  color: white;
}

#resultado {
  margin-top: -3rem;
  margin-left: 27.6rem;
  list-style: none;
  text-align: center;
}

#resultado li {
  width: 80%;
  max-width: 24.8rem;
  margin: 1rem;
  border-radius: 0.4rem;
  height: 3rem;
  width: 24.8rem;
  background-color: #836fff;
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
  align-items: center;
}
.btnAcao {
  cursor: pointer;
  border-radius: 20rem;
  border: none;
  outline: none;
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
  background-color: #483d8b;
  color: white;
}
.text-list {
  overflow: hidden;
  text-overflow: inherit;
  white-space: nowrap;
}
#edit_input_to_do {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #836fff;
  border: none;
  width: 30rem;
  border-radius: 1rem;
  z-index: 200;
  display: none;
}
#edit_input_to_do.abrir {
  display: block !important;
}
#edit_Fechar {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20rem;
  width: 2rem;
  height: 2rem;
  background-color: #483d8b;
  color: white;
  margin-bottom: 2rem;
}
#edit_list_back {
  position: fixed;
  top: 0;
  background-color: #483d8b;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  z-index: 100;
  right: 0;
  display: none;
}
#edit_list_back.abrir {
  display: block !important;
}
form {
  width: 100%;
  margin-top: 1rem;
}
.edit_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.edit_form label {
  margin-bottom: 0.2rem;
}
.edit_form input {
  font-family: "Karla", sans-serif;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: #483d8b;
  color: white;
  border: none;
  outline: none;
}
#edit_Fechar {
  left: 25.4rem;
  transform: translateY(-1.2rem);
  position: relative;
}
#btn_Edit {
  font-family: "Karla", sans-serif;
  border: none;
  outline: none;
  border-radius: 20rem;
  width: 4rem;
  height: 2rem;
  background-color: #483d8b;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  #CreatList {
    margin-top: 2rem;
    width: 19rem;
    height: 9rem;
  }

  .ListSubmit p {
    text-align: center;
  }

  .ListSubmit input {
    font-family: "Karla", sans-serif;
    width: 11rem;
    margin-left: 0.5rem;
  }
  #resultado {
    transform: translateX(-28rem);
  }
  #resultado li {
    width: 18.7rem;
  }
  .btnAcao {
    width: 2rem;
  }
  .text-list {
    max-width: 20ch;
    font-size: 0.9rem;
  }
  #edit_input_to_do {
    width: 18rem;
    height: 15rem;
    margin-top: -3rem;
  }
  hr {
    display: none;
  }
  form {
    margin-top: -2rem;
  }
  #idEdicao {
    transform: translateY(-3rem);
  }
  .edit_Fechar {
    display: none;
  }
}
